body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f8f5f0;
	color: #333;
}

.sok {
	font-size: 12px;
}

.text-box {
	background-color: #fdfdfd;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px;
	margin: 10px 20px 20px;
	font-weight: bold;
	color: #666;
	font-size: 14px;
	text-align: justify;
}

.blog-box {
	background-color: #fdfdfd;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding-top: 15px;
	margin: -10px 20px 5px 20px;
	font-weight: bold;
	color: #666;
	font-size: 14px;
	text-align: justify;
}

.motivation {
	margin: 5px 20px 20px 20px;
	font-family: "Georgie", serif;
	text-align: center;
	font-size: 26px;
}

.isi-blog {
	padding: 20px 20px 0 20px;
}
.isi-blog h1 {
	font-family: "Georgia", serif;
	text-align: center;
	margin: 0 0 20px 0;
	font-size: 40px;
	color: #3a3a3a;
}
.isi-blog h2 {
	font-family: "Georgia", serif;
	text-align: justify;
	margin: 20px 15px 20px 15px;
	font-size: 34px;
	color: #666;
}
.isi-blog p {
	font-family: "Cormorant Garamond", serif;
	font-size: 20px;
	margin: 0 15px 20px 15px;
	text-align: justify;
}
.isi-blog img {
	width: 30%;
	height: auto;
	margin: 0 20px 20px 20px;
}

.akhir-blog {
	padding: 0 20px 0 20px;
}
.akhir-blog h2 {
	font-family: "Georgia", serif;
	text-align: justify;
	margin: 20px 15px 20px 15px;
	font-size: 34px;
	color: #666;
}
.akhir-blog p {
	font-family: "Cormorant Garamond", serif;
	font-size: 20px;
	margin: 0 15px 20px 15px;
	text-align: justify;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-container button {
	margin: 0 20px 20px 20px;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #666;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.button-container button:hover {
	background-color: #949494;
}

.anonym-button {
	display: flex;
	margin-left: 29%;
}
.anonym-button button {
	margin: 0 20px 20px 20px;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #666;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.anonym-button button:hover {
	background-color: #949494;
}

.hidden {
	display: none;
}

.more-text {
	color: #555;
}

.hamburger {
	position: absolute;
	top: 30px;
	left: 20px;
	z-index: 1000;
	cursor: pointer;
}

.hamburger div {
	width: 30px;
	height: 3px;
	background-color: #333;
	margin: 5px 0;
	transition: 0.3s;
}

/* header {
 color: #535353;
} */

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Side Panel */
.side-panel {
	border-left: 1px solid #000000;
	position: fixed;
	top: 0;
	left: -500px;
	width: 300px;
	height: 100%;
	background-color: #fff;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	z-index: 1000;
	transition: left 0.3s ease;
}
.side-panel h2 {
	margin-top: 0;
}
.side-panel a {
	display: block;
	margin: 10px 0;
	color: #333;
	text-decoration: none;
	font-weight: bold;
}
.side-panel img {
	display: block;
	margin: auto;
	width: 60%;
	height: auto;
}
.side-panel a:hover {
	text-decoration: underline;
}
.side-social {
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-top: 10px;
}
.side-social a {
	text-align: center;
	color: #333;
	font-size: 24px;
	text-decoration: none;
}
.side-text-box {
	background-color: #fdfdfd;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
}
.side-text-box p {
	margin: 0;
	font-weight: bold;
	color: #666;
	font-size: 14px;
	text-align: justify;
}
.foryou {
	font-family: "Cormorant Garamond", serif;
	margin: 0;
	font-weight: bold;
	color: #ffffff;
	font-size: 14px;
	text-align: justify;
}

.overlay.active {
	opacity: 1;
	visibility: visible;
}

.side-panel.active {
	left: 0;
}

header {
	padding: 20px 40px;
	background-color: #a3a08f;
	border-bottom: 5px solidrgb(170, 167, 167) d;
}
header h1 {
	position: relative;
	text-align: center;
	font-family: "Great Vibes", cursive;
	font-size: 40px;
	margin: 0;
}

.tab-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #b8b4a0;
	padding: 0;
	position: relative;
	top: 0;
	margin: 0 auto;
	width: 100%;
}

.nb {
	display: block; /* Pastikan elemen span bertindak seperti blok */
	position: relative;
	text-align: center;
	font-size: 0.875rem; /* Setara dengan 'small', lebih fleksibel */
	margin-bottom: 5px; /* Beri jarak atas */
	width: 100%; /* Pastikan berada di tengah */
}

.sendA {
	text-align: center;
}
.tab {
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	border: none;
	background-color: transparent;
	border-bottom: 3px solid transparent;
	color: #fff;
	transition: background-color 0.3s, border-bottom 0.3s, color 0.3s;
}
.tab:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.tab.active {
	border-bottom: 3px solid #777777;
	color: #777777;
}

nav a {
	margin: 0 15px;
	text-decoration: none;
	color: #333;
	font-weight: 600;
}
nav div {
	margin: 0 15px;
	text-decoration: none;
	color: #333;
	font-weight: 600;
}
.social-icons {
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-top: 10px;
}
.social-icons a {
	color: #333;
	font-size: 26px;
	text-decoration: none;
}

.story {
	font-family: "Cormorant Garamond", serif;
	font-size: 28px;
	text-align: left;
	margin: 0px;
}
.featured-posts {
	text-align: center;
	padding: 5px 20px;
}
.featured-posts h6 {
	font-family: "Georgia", serif;
	text-align: left;
	margin: 10px 20px 20px 20px;
	font-size: 14px;
	color: #666;
}
.featured-posts h2 {
	font-family: "Cormorant Garamond", serif;
	font-size: 28px;
	margin: 0 20px;
	text-align: left;
}
.posts {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}
.post {
	width: 300px;
	text-align: left;
}
.post img {
	margin: 0 20px;
	width: 100%;
	height: auto;
}
.post p {
	margin: 10px 0 0;
	font-weight: 600;
}
.newsletter {
	background-color: #a3a08f;
	color: #fff;
	text-align: center;
	padding: 20px;
}
.newsletter h2 {
	font-family: "Great Vibes", cursive;
	font-size: 36px;
	margin-bottom: 10px;
}
.newsletter p {
	margin: 10px 0 20px;
}
.newsletter form {
	display: flex;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
}
.newsletter input[type="text"],
.newsletter input[type="email"] {
	padding: 10px;
	border: none;
	border-radius: 20px;
	width: 200px;
}
.newsletter button {
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	background-color: #333;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}
.newsletter small {
	display: block;
	margin-top: 10px;
	font-size: 12px;
}

.gallery {
	padding: 20px 20px 0 20px;
}
.gallery h1 {
	font-family: "Georgia", serif;
	text-align: center;
	margin: 0 0 20px 0;
	font-size: 40px;
	color: #3a3a3a;
}
.gallery h2 {
	font-family: "Georgia", serif;
	text-align: justify;
	margin: 20px 15px 5px 15px;
	font-size: 34px;
	color: #666;
}
.gallery img {
	width: 30%;
	height: auto;
	margin: 0 20px 5px 20px;
}

.gallery p {
	margin: 0 20px 5px 20px;
}

#project {
	display: none;
}
.project {
	padding: 20px 20px 0 20px;
}
.h1-isi {
	font-family: "Georgia", serif;
	text-align: center;
	margin: 0 0 20px 0;
	font-size: 40px;
	color: #3a3a3a;
}
.h2-isi h2 {
	font-family: "Georgia", serif;
	text-align: justify;
	margin: 20px 15px 5px 15px;
	font-size: 34px;
	color: #666;
}
.h2-isi {
	font-family: "Georgia", serif;
	text-align: justify;
	margin: 20px 15px 5px 15px;
	font-size: 34px;
	color: #666;
}
.img-isi {
	width: 30%;
	height: auto;
	margin: 0 20px 20px 20px;
}

.p-isi {
	font-family: "Cormorant Garamond", serif;
	font-size: 20px;
	margin: 0 15px 5px 15px;
	text-align: justify;
}

.animated {
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.slide-in {
	animation-name: slideIn;
}

.slide-out {
	animation-name: slideOut;
}

a {
	text-decoration: none !important;
	color: white;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#auth-box {
	background: white;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	width: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#auth-box h2 {
	margin-bottom: 10px;
}

input[type="text"] {
	padding: 10px;
	width: 100%;
	margin: 10px -10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

#error {
	text-align: center;
	margin-top: 10px;
	color: red;
}

#hideButton {
	display: block;
}

#confess {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#confess-box {
	background: white;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	width: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#confess-box h2 {
	font-size: 18px;
	margin-bottom: 10px;
}

.confess-box p {
	font-style: normal;
}

#hbd {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#hbd-box {
	background: white;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	width: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#hbd-box h2 {
	font-size: 18px;
	margin-bottom: 10px;
}

#content {
	display: block;
}

#home {
	display: block;
}

#gallery {
	display: none;
}

#project {
	display: none;
}

#story {
	display: none;
}

.heart {
	position: flex;
	width: 50px;
	height: 50px;
	background-color: #e57373;
	transform: rotate(-45deg);
	animation: pulse 2s infinite;
}
.heart:before,
.heart:after {
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #e57373;
	border-radius: 50%;
}
.heart:before {
	top: -25px;
	left: 0;
}
.heart:after {
	left: 25px;
	top: 0;
}
@keyframes pulse {
	0%,
	100% {
		transform: scale(1) rotate(-45deg);
	}
	50% {
		transform: scale(1.1) rotate(-45deg);
	}
}

#motivasiAwal {
	display: block;
}

#mAkhir {
	display: none;
}

.toggle-container {
	position: absolute;
	align-items: center;
	top: 50px;
	right: 10px;
}

.toggle-label {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
}

.toggle-label input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #b8b4a0;
	transition: 0.4s;
	border-radius: 25px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 3.5px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #1e1e1e;
}

input:checked + .slider:before {
	transform: translateX(25px);
}

.slider i {
	position: absolute;
	font-size: 14px;
	color: rgb(82, 82, 82);
	transition: 0.4s;
	left: 5px; /* Default posisi kiri */
	top: 6px;
}

input:checked + .slider i {
	left: 30px; /* Pindah ke kanan */
	top: 6px;
}

#anonym {
	display: block;
}

#form {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

#form-box {
	background: white;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	width: 300px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#form-box form {
	display: flex;
	flex-direction: column;
}

#form-box label {
	font-size: 16px;
	margin-bottom: 8px;
	color: #333;
}

#form-box input,
textarea {
	width: 90%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid hsl(0, 0%, 80%);
	border-radius: 4px;
	font-size: 14px;
}

#form-box textarea {
	resize: vertical;
	min-height: 100px;
}

.sendButton-c,
.cancelButton-c {
	display: flex;
	flex: 1;
}

.formButton-container {
	position: relative;
	width: 100%;
	height: 20px; /* Sesuaikan tinggi sesuai kebutuhan */
	margin: 0 0 10px 0;
}

#form .sendButton {
	position: absolute;
	left: 10%;
	background: #5681aa;
	color: white;
	border: none;
	width: 30%;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s;
}

#form .cancelButton {
	position: absolute;
	right: 10%;
	background: #4b3b3b;
	color: white;
	border: none;
	width: 30%;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s;
}

#form .sendButton:hover,
.cancelButton:hover {
	background: #000000;
}

@media (min-width: 1025px) {
	.side-panel {
		position: flex;
		top: 0;
		left: auto;
		right: 0;
		width: 24%;
		height: 100vh;
	}

	.main-content {
		width: 73%; /* Menyesuaikan sisa tempat */
	}

	.toggle-container {
		right: 28%;
	}

	.newsletter {
		width: 73%;
	}
}

@media (max-width: 430px) {
	header {
		flex-direction: column;
		text-align: center;
	}
	.tab-buttons button {
		margin: 0 0 0 14%;
	}
	nav {
		margin-top: 10px;
	}
	.posts {
		flex-direction: column;
		align-items: center;
	}
	.post {
		width: 90%;
	}
	.motivation {
		font-size: 12px;
	}
	.side-panel {
		position: fixed;
		left: -500px;
	}

	.h1-isi {
		font-size: 32px;
	}
	.h2-isi {
		font-size: 24px;
	}
	.p-isi {
		font-size: 14px;
	}
	.img-isi {
		width: 90%;
	}

	.isi-blog h1 {
		font-size: 32px;
	}
	.isi-blog h2 {
		font-size: 24px;
	}
	.isi-blog p {
		font-size: 14px;
	}
	.isi-blog img {
		width: 90%;
	}

	.gallery h1 {
		font-size: 32px;
	}
	.gallery h2 {
		font-size: 24px;
	}
	.gallery img {
		width: 90%;
	}

	.akhir-blog h2 {
		font-size: 24px;
	}
	.akhir-blog p {
		font-size: 14px;
	}
}

@keyframes slideIn {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideOut {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(100%);
		opacity: 0;
	}
}

/* .horizon-scroll {
  width: 100%;
  scrollbar-color: transparent transparent;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.container-scroll {
  display: flex;
  gap: 1rem;
  width: max-content;
}

.item-scroll {
  scroll-snap-align: start;
  width: 180px;
  aspect-ratio: 11/16;
  position: relative;
  overflow: hidden;
}

.item-scroll img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} */
